@font-face {
    font-family: 'quasimodo'; 
    src: url('../fonts/quasimodo.TTF');
}

body {
	background-image: url("../images/climpek.png");
	background-color: #ffe1bd;
	font-family: "quasimodo", serif;
}

.centered-text {
    text-align: center;
    font-size: 30px;
    margin-right: 140px;
}

.justified-text {
    text-align: justify;
    font-family: "Slabo 27px", serif;
    margin-left: 2em;
    margin-right: 1em;
}

.float-left {
	float:left;
}

.clear {
	clear:both;
}